
USE [QLBANSACH]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[UserAdmin] [varchar](30) NOT NULL,
	[PassAdmin] [varchar](30) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[TenChuDe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDATHANG]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDATHANG](
	[SoDH] [int] NOT NULL,
	[Masach] [int] NOT NULL,
	[Soluong] [int] NULL,
	[Dongia] [decimal](9, 2) NULL,
	[Thanhtien]  AS ([SoLuong]*[Dongia]),
 CONSTRAINT [PK_CTDatHang] PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC,
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTTHAMDO]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTHAMDO](
	[MaCH] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[Noidungtraloi] [nvarchar](255) NOT NULL,
	[Solanbinhchon] [int] NULL,
 CONSTRAINT [PK_CTThamDo] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDH] [datetime] NULL,
	[Trigia] [money] NULL,
	[Dagiao] [bit] NULL CONSTRAINT [DF__DONDATHAN__Dagia__182C9B23]  DEFAULT ((0)),
	[Ngaygiaohang] [datetime] NULL,
	[Tennguoinhan] [varchar](50) NULL,
	[Diachinhan] [nvarchar](1) NULL,
	[Dienthoainhan] [varchar](15) NULL,
	[HTThanhtoan] [bit] NULL CONSTRAINT [DF__DONDATHAN__HTTha__1920BF5C]  DEFAULT ((0)),
	[HTGiaohang] [bit] NULL CONSTRAINT [DF__DONDATHAN__HTGia__1A14E395]  DEFAULT ((0)),
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NOT NULL,
	[DiachiKH] [nvarchar](50) NULL,
	[DienthoaiKH] [varchar](10) NULL,
	[TenDN] [varchar](15) NULL,
	[Matkhau] [varchar](15) NOT NULL,
	[Ngaysinh] [smalldatetime] NULL,
	[Gioitinh] [bit] NULL DEFAULT ((1)),
	[Email] [varchar](50) NULL,
	[Daduyet] [bit] NULL DEFAULT ((0)),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
	[Diachi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANGCAO](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenCty] [nvarchar](200) NOT NULL,
	[Hinhminhhoa] [varchar](20) NULL,
	[Href] [varchar](100) NULL,
	[Ngaybatdau] [smalldatetime] NULL,
	[Ngayhethan] [smalldatetime] NULL,
 CONSTRAINT [PK_QuangCao] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[Masach] [int] NOT NULL,
	[Tensach] [nvarchar](100) NOT NULL,
	[Donvitinh] [nvarchar](50) NULL CONSTRAINT [DF__SACH__Donvitinh__2B3F6F97]  DEFAULT ('cu?n'),
	[Dongia] [money] NULL,
	[Mota] [ntext] NULL,
	[Hinhminhhoa] [varchar](50) NULL,
	[MaCD] [int] NULL,
	[MaNXB] [int] NULL,
	[Ngaycapnhat] [smalldatetime] NULL,
	[Soluongban] [int] NULL,
	[solanxem] [int] NULL CONSTRAINT [DF__SACH__solanxem__2C3393D0]  DEFAULT ((0)),
	[moi] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](50) NOT NULL,
	[DiachiTG] [nvarchar](100) NULL,
	[DienthoaiTG] [varchar](15) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMDO]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMDO](
	[MaCH] [int] IDENTITY(1,1) NOT NULL,
	[Ngaydang] [smalldatetime] NULL,
	[Noidungthamdo] [nvarchar](255) NOT NULL,
	[Tongsobinhchon] [int] NULL,
 CONSTRAINT [PK_ThamDo] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIETSACH]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIETSACH](
	[MaTG] [int] NOT NULL,
	[Masach] [int] NOT NULL,
	[Vaitro] [nvarchar](30) NULL,
 CONSTRAINT [PK_VietSach] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC,
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [Hoten]) VALUES (N'admin', N'123456', N'admin')
INSERT [dbo].[Admin] ([UserAdmin], [PassAdmin], [Hoten]) VALUES (N'na', N'654321', N'na')
SET IDENTITY_INSERT [dbo].[CHUDE] ON 

INSERT [dbo].[CHUDE] ([MaCD], [TenChuDe]) VALUES (1, N'Ngoại ngữ')
INSERT [dbo].[CHUDE] ([MaCD], [TenChuDe]) VALUES (2, N'Công nghệ thông tin')
INSERT [dbo].[CHUDE] ([MaCD], [TenChuDe]) VALUES (3, N'Luật')
SET IDENTITY_INSERT [dbo].[CHUDE] OFF
INSERT [dbo].[CTDATHANG] ([SoDH], [Masach], [Soluong], [Dongia]) VALUES (1, 19, 1, CAST(25000.00 AS Decimal(9, 2)))
INSERT [dbo].[CTDATHANG] ([SoDH], [Masach], [Soluong], [Dongia]) VALUES (1, 23, 2, CAST(25000.00 AS Decimal(9, 2)))
INSERT [dbo].[CTDATHANG] ([SoDH], [Masach], [Soluong], [Dongia]) VALUES (2, 1, 1, CAST(26000.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([SoDH], [MaKH], [NgayDH], [Trigia], [Dagiao], [Ngaygiaohang], [Tennguoinhan], [Diachinhan], [Dienthoainhan], [HTThanhtoan], [HTGiaohang]) VALUES (1, 1, CAST(N'2010-04-06 00:00:00.000' AS DateTime), 75000.0000, 0, CAST(N'2010-04-06 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0, 0)
INSERT [dbo].[DONDATHANG] ([SoDH], [MaKH], [NgayDH], [Trigia], [Dagiao], [Ngaygiaohang], [Tennguoinhan], [Diachinhan], [Dienthoainhan], [HTThanhtoan], [HTGiaohang]) VALUES (2, 1, CAST(N'2010-06-28 00:00:00.000' AS DateTime), 80000.0000, 0, CAST(N'2010-06-28 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0, 0)
INSERT [dbo].[DONDATHANG] ([SoDH], [MaKH], [NgayDH], [Trigia], [Dagiao], [Ngaygiaohang], [Tennguoinhan], [Diachinhan], [Dienthoainhan], [HTThanhtoan], [HTGiaohang]) VALUES (3, 1, CAST(N'2018-01-26 23:14:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiachiKH], [DienthoaiKH], [TenDN], [Matkhau], [Ngaysinh], [Gioitinh], [Email], [Daduyet]) VALUES (1, N'Dương Thành Phết', N'Trần Huy Liệu', N'0918062755', N'phetcm', N'123', CAST(N'1962-07-08 00:00:00' AS SmallDateTime), 1, N'pvkhoa@hcmuns.edu.vn', 0)
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiachiKH], [DienthoaiKH], [TenDN], [Matkhau], [Ngaysinh], [Gioitinh], [Email], [Daduyet]) VALUES (2, N'Nguyễn Tiến Luân', N'Quận 6', N'Chua có', N'thang', N'123456', CAST(N'1974-07-15 00:00:00' AS SmallDateTime), 1, N'ntluan@hcmuns.edu.vn', 0)
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTenKH], [DiachiKH], [DienthoaiKH], [TenDN], [Matkhau], [Ngaysinh], [Gioitinh], [Email], [Daduyet]) VALUES (3, N'Đặng Quốc Hòa', N'Sư Vạn Hạnh', N'Chua có', N'dqhoa', N'hoa', CAST(N'1965-07-24 00:00:00' AS SmallDateTime), 1, N'dqhoa@hcmuns.edu.vn', 0)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [Diachi], [DienThoai]) VALUES (1, N'Nhà xuất bản Trẻ', N'124 Nguyễn Văn Cừ Q.1 Tp.HCM', N'19001560')
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [Diachi], [DienThoai]) VALUES (2, N'NXB Thống kê', N'Đồng Nai', N'19001511')
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [Diachi], [DienThoai]) VALUES (3, N'Kim đồng', N'Tp.HCM', N'19001570')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
SET IDENTITY_INSERT [dbo].[QUANGCAO] ON 

INSERT [dbo].[QUANGCAO] ([STT], [TenCty], [Hinhminhhoa], [Href], [Ngaybatdau], [Ngayhethan]) VALUES (1, N'Thời trang Việt Nam', N'Thoitrang.gif', N'http://www.vietfashion.vn/', CAST(N'2005-05-10 00:00:00' AS SmallDateTime), CAST(N'2009-11-10 00:00:00' AS SmallDateTime))
INSERT [dbo].[QUANGCAO] ([STT], [TenCty], [Hinhminhhoa], [Href], [Ngaybatdau], [Ngayhethan]) VALUES (2, N'Bột giặt Omo', N'Omo.gif', N'http://www.haydetretudo.com.vn/', CAST(N'2005-05-10 00:00:00' AS SmallDateTime), CAST(N'2011-06-10 00:00:00' AS SmallDateTime))
INSERT [dbo].[QUANGCAO] ([STT], [TenCty], [Hinhminhhoa], [Href], [Ngaybatdau], [Ngayhethan]) VALUES (3, N'Bánh Trung thu', N'Trungthu.gif', N'http://demo10.webinvietnam.com/For_Ad/h/hanobaco/', CAST(N'2005-05-10 00:00:00' AS SmallDateTime), CAST(N'2010-12-10 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[QUANGCAO] OFF
INSERT [dbo].[SACH] ([Masach], [Tensach], [Donvitinh], [Dongia], [Mota], [Hinhminhhoa], [MaCD], [MaNXB], [Ngaycapnhat], [Soluongban], [solanxem], [moi]) VALUES (2, N'Giáo trình Tin học văn phòng', N'Cuốn', 12000.0000, N'Cuốn sách này gồm 3 phần sau:
Phần 1: Xử lý văn bản trong Microsoft Office Word 2007. 
Phần 2: Xử lý bảng tính trong Microsoft Office Excel 2007. 
Phần 3: Quản lý cơ sở dữ liệu trong Microsoft Office Access 2007.
Xin trân trọng giới thiệu cùng các bạn.', N'TH004.jpg', 3, 2, CAST(N'2004-06-05 00:00:00' AS SmallDateTime), 25, 0, 1)
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MaTG], [TenTG], [DiachiTG], [DienthoaiTG]) VALUES (1, N'Phạm Công Anh', N'197 Trần Hưng Đạo', N'98877668')
INSERT [dbo].[TACGIA] ([MaTG], [TenTG], [DiachiTG], [DienthoaiTG]) VALUES (2, N'Nguyễn Thế Giang', N'179 Chánh hưng - F.4 - Q.8 Tp.HCM', N'19001611')
INSERT [dbo].[TACGIA] ([MaTG], [TenTG], [DiachiTG], [DienthoaiTG]) VALUES (3, N'Lê Việt Nhân', N'45 Lý Thái Tổ-F2.Q.3 Tp.HCM', N'19001570')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
INSERT [dbo].[VIETSACH] ([MaTG], [Masach], [Vaitro]) VALUES (1, 1, N'Tác giả')
INSERT [dbo].[VIETSACH] ([MaTG], [Masach], [Vaitro]) VALUES (2, 24, N'Tác giả')
INSERT [dbo].[VIETSACH] ([MaTG], [Masach], [Vaitro]) VALUES (3, 1, N'Đồng tác giả')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__4CF96558CEED4610]    Script Date: 5/11/2018 1:33:17 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__A9D10534496509AD]    Script Date: 5/11/2018 1:33:17 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTTHAMDO] ADD  DEFAULT ((0)) FOR [Solanbinhchon]
GO
ALTER TABLE [dbo].[THAMDO] ADD  DEFAULT ((0)) FOR [Tongsobinhchon]
GO
ALTER TABLE [dbo].[CTDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDatHang_DonDatHang] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DONDATHANG] ([SoDH])
GO
ALTER TABLE [dbo].[CTDATHANG] CHECK CONSTRAINT [FK_CTDatHang_DonDatHang]
GO
ALTER TABLE [dbo].[CTDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDatHang_Sach] FOREIGN KEY([SoDH])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[CTDATHANG] CHECK CONSTRAINT [FK_CTDatHang_Sach]
GO
ALTER TABLE [dbo].[CTTHAMDO]  WITH CHECK ADD  CONSTRAINT [FK_CTThamDo_ThamDo] FOREIGN KEY([MaCH])
REFERENCES [dbo].[THAMDO] ([MaCH])
GO
ALTER TABLE [dbo].[CTTHAMDO] CHECK CONSTRAINT [FK_CTThamDo_ThamDo]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DonDatHang_KhachHang]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_Sach_ChuDe] FOREIGN KEY([MaCD])
REFERENCES [dbo].[CHUDE] ([MaCD])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_Sach_ChuDe]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[VIETSACH]  WITH CHECK ADD  CONSTRAINT [FK_VietSach_Sach] FOREIGN KEY([Masach])
REFERENCES [dbo].[SACH] ([Masach])
GO
ALTER TABLE [dbo].[VIETSACH] CHECK CONSTRAINT [FK_VietSach_Sach]
GO
ALTER TABLE [dbo].[VIETSACH]  WITH CHECK ADD  CONSTRAINT [FK_VietSach_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TACGIA] ([MaTG])
GO
ALTER TABLE [dbo].[VIETSACH] CHECK CONSTRAINT [FK_VietSach_TacGia]
GO
ALTER TABLE [dbo].[CTDATHANG]  WITH CHECK ADD CHECK  (([Dongia]>=(0)))
GO
ALTER TABLE [dbo].[CTDATHANG]  WITH CHECK ADD CHECK  (([Soluong]>(0)))
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [CK__DONDATHAN__Trigi__398D8EEE] CHECK  (([Trigia]>(0)))
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [CK__DONDATHAN__Trigi__398D8EEE]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK__SACH__Dongia__38996AB5] CHECK  (([Dongia]>=(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK__SACH__Dongia__38996AB5]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK__SACH__Soluongban__398D8EEE] CHECK  (([Soluongban]>(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK__SACH__Soluongban__398D8EEE]
GO
/****** Object:  StoredProcedure [dbo].[chia]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[chia] @sobichia real, @sochia real,
			@ketqua real output
as
	if(@sochia=0)
		print 'khong the chia cho 0'
	else
		set @ketqua=@sobichia/@sochia




GO
/****** Object:  StoredProcedure [dbo].[donGiaSach]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[donGiaSach](@maXNB int)
as
begin
	if not exists(select * from sach where MaNXB=@maXNB)
		print 'khong ton tai nha xuat ban '+cast(@maXNB as char(10))
	else
	begin
		select *
		into #sach_NXB1
		from SACH
		where MaNXB=@maXNB
		select top 1 *
		from #sach_NXB1
		order by Dongia desc
	end
end




GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoLuongcd]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DemSoLuongcd]
as
	declare @sl int
	set @sl=(select count(*)
			from CHUDE)
	print 'so luong chu de co'+cast(@sl as char(4))




GO
/****** Object:  StoredProcedure [dbo].[sp_SachtheoCD]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_SachtheoCD] @macd int
as
	if exists(select * from sach where MaCD=@macd)
		select *
		from SACH
		where macd=@macd
	else
		--print 'khong co chu de nay'
		raiserror('khong co chu de nay',16,1)




GO
/****** Object:  StoredProcedure [dbo].[sp_Xemchude]    Script Date: 5/11/2018 1:33:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_Xemchude]
as
	select * from CHUDE
GO

go
create proc pInsertSach @tenSach nvarchar(max),@dongia int,@mota nvarchar(max),@hinhminhhoa nvarchar(max) , @macd int,@maNXB int,@Soluongban int ,@soLanxem int
as
begin
	insert dbo.SACH (Tensach,Donvitinh,Dongia,Mota,Hinhminhhoa,MaCD,MaNXB,Ngaycapnhat,Soluongban,solanxem,moi) values (@tenSach,'Cuốn',@dongia,@mota,@hinhminhhoa,@macd,@maNXB,GETDATE(),@Soluongban,@soLanxem,1)
end
go
create proc pEditSach @id int, @tenSach nvarchar(max),@dongia int,@mota nvarchar(max),@hinhminhhoa nvarchar(max) , @macd int,@maNXB int,@Soluongban int ,@soLanxem int
as
begin
	---insert dbo.SACH (Tensach,Donvitinh,Dongia,Mota,Hinhminhhoa,MaCD,MaNXB,Ngaycapnhat,Soluongban,solanxem,moi) values (@tenSach,'Cuốn',@dongia,@mota,@hinhminhhoa,@macd,@maNXB,GETDATE(),@Soluongban,@soLanxem,1)
	update dbo.SACH set Tensach = @tenSach , Dongia = @dongia, Mota = @mota , Hinhminhhoa = @hinhminhhoa , MaCD = @macd , MaNXB = @maNXB , Soluongban = @Soluongban, solanxem = @soLanxem where Masach = @id
end
go

create proc pDeleteSach @id int as
begin
	delete dbo.SACH where Masach = @id
end
go

create proc pLogin @username nvarchar(max), @pass nvarchar(max) as
begin
	select * from dbo.Admin where @username = UserAdmin and @pass = PassAdmin
end
go

create proc pInsertDonDatHang @MaKH int , @triGia int , @ngayGiaoHang Datetime =null, @tennguoinhan nvarchar(max) = '',@diaChiNhan nvarchar(max) = '', 
@DienThoaiNhan nvarchar(max) = '',@HTThanhtoan int= 0, @HTGiaoHang int = 0 as
begin
	insert dbo.DONDATHANG (MaKH,NgayDH,Trigia,Ngaygiaohang,Tennguoinhan,Diachinhan,Dienthoainhan,HTThanhtoan,HTGiaohang)
	values (@MaKH,GETDATE(),@triGia,@ngayGiaoHang,@tennguoinhan,@diaChiNhan,@DienThoaiNhan,@HTThanhtoan,@HTGiaoHang)
end
go
             
create proc pInsertChiTietDonHang @SoDH int,@MaSach int, @SoLuong int, @donGia int as
begin
	insert dbo.CTDATHANG(SoDH,Masach,Soluong,Dongia) values (@SoDH,@MaSach,@SoLuong,@donGia)
end
go
				
create proc pInsertKhachHang @HoTenKH nvarchar(max),@DiaChiKH nvarchar(max) , @mail nvarchar(100) , @DienThoai varchar(10),@Ngaysinh datetime,@tenDangNhap nvarchar(max),@matkhau nvarchar(max) as
begin
	insert dbo.KHACHHANG(HoTenKH,DiachiKH,DienthoaiKH,Ngaysinh,Email,TenDN,Matkhau) values (@hotenKH,@DiaChiKH,@DienThoai,@ngaySinh,@mail,@tendangnhap,@matkhau)
end
go
create proc pLoginKH @username nvarchar(max), @pass nvarchar(max) as
begin
	select * from dbo.KHachHang where @username = TenDN and @pass = Matkhau
end
go